{% extends 'base.html.twig' %}

{% block title %}Personnages{% endblock %}

{% block monTitre %}Liste des armes{% endblock %}

{% block body %}
    <table class="table table-borderless">
        {% for weapon in weapons %}
            <tr>
                <td style="width: 20%"><img src="{{ asset('images/armes/' ~ weapon.nom | replace({'é':'e'}) ~ '.png') }}"></td>
                <td><a href="{{ path("afficher_arme", {'nom': weapon.nom}) }}">{{ weapon.nom }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}